
body{
  overflow: hidden;

}

.header{
  color: rgba(183, 137, 83, 0.73);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 900;
  position: relative;
  top: 8rem;
  -webkit-text-stroke: 0.1rem #000000;
}

.hey{
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 600;
  position: relative;
  top: 11rem;
}
.description{
  color: #000000;
  text-align: center;
  font-family: "Inter-Light", sans-serif;
  font-weight: 90;
  position: relative;
  top: 8.5rem;
}
.signbtn{
  top:8rem;
  position: relative;
}
.unauth{
  position: relative;
  font-family: "Inter",sans-serif;
  top: 8rem;
}

.footer{
  position: relative;
  bottom: 2rem;
}
.span{
  position: relative;
  top: 15rem;
}

.link{
  text-decoration: none;
  color:  rgba(183, 137, 83, 0.73);;
}

/*animations*/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); 
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes float {
  0% {
    transform: translateZ(0);
  }
  50% {
    transform: translateZ(20px);
  }
  100% {
    transform: translateZ(0);
  }
}

.pancake{
  position: absolute;
  left: 19.4375rem;
  top: 34.1875rem;
  animation: float 3s infinite;
  transform: rotateX(15deg) translateZ(30px);
  
}
.pizza{
  position: absolute;
  left: 9.9375rem;
  top: 18.9375rem;
  object-fit: cover;
 

}
.ramen{
  width: 15.375rem;
  height: 7.75rem;
  position: absolute;
  left: 20.9375rem;
  top: 6.5rem;
  object-fit: cover;
}

.steak{
  width: 13.75rem;
  height: 6.75rem;
  position: absolute;
  left: 59.3125rem;
  top: 4.525rem;
  object-fit: cover;
}

.salad {
  width: 13.0625rem;
  height: 8.1875rem;
  position: absolute;
  left: 75.1875rem;
  top: 16.6875rem;
  object-fit: cover;
}

.pie{
  width: 15rem;
  height: 6.4375rem;
  position: absolute;
  left: 70.5625rem;
  top: 30.75rem;
  object-fit: cover;
}