/* .slide-16-9-17,
.slide-16-9-17 * {
  box-sizing: border-box;
}
.slide-16-9-17 {
  background: #ffffff;
  position: relative;
}
.hey-there {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  left: 52.625rem;
  top: 29.625rem;
}
.welcome-to-tofu-an-app-that-allows-you-to-find-recipes-while-taking-care-of-your-health-needs-such-as-food-preferences-and-allergies {
  color: #000000;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  left: 26.625rem;
  top: 35.1875rem;
  width: 66.75rem;
  height: 14.4375rem;
}
.welcome-to-tofu-an-app-that-allows-you-to-find-recipes-while-taking-care-of-your-health-needs-such-as-food-preferences-and-allergies-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.welcome-to-tofu-an-app-that-allows-you-to-find-recipes-while-taking-care-of-your-health-needs-such-as-food-preferences-and-allergies-span2 {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.welcome-to-tofu-an-app-that-allows-you-to-find-recipes-while-taking-care-of-your-health-needs-such-as-food-preferences-and-allergies-span3 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.welcome-to-tofu-an-app-that-allows-you-to-find-recipes-while-taking-care-of-your-health-needs-such-as-food-preferences-and-allergies-span4 {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.welcome-to-tofu-an-app-that-allows-you-to-find-recipes-while-taking-care-of-your-health-needs-such-as-food-preferences-and-allergies-span5 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.tofu-a-recipe-finder-app {
  color: rgba(183, 137, 83, 0.73);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  position: absolute;
  left: 23.1875rem;
  top: 18.75rem;
  width: 75.875rem;
  height: 6.75rem;
  -webkit-text-stroke: 0.125rem #000000;
}
.the-munchies-bowl {
  width: 16.3125rem;
  height: 9.0625rem;
  position: absolute;
  left: 96.9375rem;
  top: 26.9375rem;
  object-fit: cover;
}
.the-munchies-dish {
  width: 14.625rem;
  height: 9.25rem;
  position: absolute;
  left: 8.4375rem;
  top: 35.1875rem;
  object-fit: cover;
}
.click-here-to-learn-more-about-food-preferences-and-allergies-and-why-they-are-important {
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  position: absolute;
  left: 34.0625rem;
  top: 59.3125rem;
}
.click-here-to-learn-more-about-food-preferences-and-allergies-and-why-they-are-important-span {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.click-here-to-learn-more-about-food-preferences-and-allergies-and-why-they-are-important-span2 {
  color: rgba(183, 137, 83, 0.73);
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.click-here-to-learn-more-about-food-preferences-and-allergies-and-why-they-are-important-span3 {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.the-munchies-bowl2 {
  width: 15.375rem;
  height: 7.75rem;
  position: absolute;
  left: 18.9375rem;
  top: 10.5rem;
  object-fit: cover;
}
.the-munchies-dish2 {
  width: 13.75rem;
  height: 6.75rem;
  position: absolute;
  left: 88.3125rem;
  top: 7.625rem;
  object-fit: cover;
}
.the-munchies-desserts {
  width: 13.0625rem;
  height: 8.1875rem;
  position: absolute;
  left: 95.1875rem;
  top: 46.6875rem;
  object-fit: cover;
}
.rectangle-54 {
  background: #7d4646;
  border-radius: 10.9375rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.1875rem;
  width: 19.125rem;
  height: 4.3125rem;
  position: absolute;
  left: 50.4375rem;
  top: 44.125rem;
}
.no-i-want-to-explore-without-an-account {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 47.625rem;
  top: 49.75rem;
  width: 24.75rem;
  height: 2rem;
}
.sign-me-up {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  left: 54.3125rem;
  top: 45.0625rem;
}
.the-munchies-dish3 {
  width: 15rem;
  height: 6.4375rem;
  position: absolute;
  left: 15.5625rem;
  top: 51.75rem;
  object-fit: cover;
} */

body{
  overflow: hidden;

}

.header{
  color: rgba(183, 137, 83, 0.73);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 750;
  position: relative;
  top: 8rem;
  -webkit-text-stroke: 0.1rem #000000;
}

.hey{
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 600;
  position: relative;
  top: 11rem;
}
.description{
  color: #000000;
  text-align: center;
  font-family: "Inter-Light", sans-serif;
  font-weight: 90;
  position: relative;
  top: 8.5rem;
}
.signbtn{
  top:8rem;
  position: relative;
}
.unauth{
  position: relative;
  font-family: "Inter",sans-serif;
  top: 8rem;
}

.footer{
  position: relative;
  bottom: 2rem;
}
.span{
  position: relative;
  top: 15rem;
}

.link{
  text-decoration: none;
  color:  rgba(183, 137, 83, 0.73);;
}

